.popup {
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0px;
  justify-content: center;
  align-items: center;
  transition: 0.4s linear;
  transform: scale(0);
  display: flex;
}

@media (max-width: 879px) {
  .popup {
    width: 100%;
  }
}
