















































.popup-edit__line {
  background-image: url(./img/Line\ 2.png);
  width: 358px;
  height: 1px;
}

@media (max-width: 590px) {
  .popup-edit__line {
  width: 238px;
  }
}





