.popup-edit__form {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  align-self: flex-start;
  margin: 0 0 30px 36px;
  padding-bottom: 13px;
  border: none;
  outline:none;
  border-bottom: 1px solid #c0c0c0;
  width: 80%;
}

@media (max-width: 320px) {
  .popup-edit__form {
  margin-left: 22px;
  }
}